body:after {

    background: #fff;


}

body {

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: 0px -100px;
    color: #fff;
    border-radius: 0px;
    min-height: 250px;
    margin-bottom: 0rem;

    background-position: center center;



}



/*START EVENTS CSS*/

/*.eventModule {
    background-color: #fff;
    border-radius: 10px;
    color: #000;

}*/

.map {
    border: 0px;
    width: 100%;
    min-height: 315px;
}

.col-md-12 iframe.mediaComponent {
    width: 100%;
    min-height: 600px;
}

.contactMap {

    min-height: 315px;
    width: 100%;
    height: auto;

}