body:after {

    background: #fff;


}

body {

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: 0px -100px;
    color: #fff;
    border-radius: 0px;
    min-height: 250px;
    margin-bottom: 0rem;

    background-position: center center;



}


.nav {
    padding-bottom: 5rem;

}


nav {
    max-height: 85px;
}

/*START EVENTS CSS*/

/*.eventModule {
    background-color: #fff;
    border-radius: 10px;
    color: #000;

}*/
/*START RESTAURANT NUMBER 1*/
body[data-restaurant="1"] .restaurantNameTarget {
    /* font-family: "Imperial Script", cursive;*/
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
}

body[data-restaurant="1"] .card-body h3,
body[data-restaurant="1"] .card-body h4,
body[data-restaurant="1"] h1,
body[data-restaurant="1"] h2,
body[data-restaurant="1"] h3,
body[data-restaurant="1"] h4,
body[data-restaurant="1"] h5,
body[data-restaurant="1"] h6 {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;

}


/*START RESTAURANT NUMBER 0*/
body[data-restaurant="0"] .restaurantNameTarget {
    /* font-family: "Imperial Script", cursive;*/
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
}

body[data-restaurant="0"] .card-body h3,
body[data-restaurant="0"] .card-body h4,
body[data-restaurant="0"] h1,
body[data-restaurant="0"] h2,
body[data-restaurant="0"] h3,
body[data-restaurant="0"] h4,
body[data-restaurant="0"] h5,
body[data-restaurant="0"] h6 {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;

}

body[data-restaurant="0"] .navbar-nav .nav-link,
body[data-restaurant="0"] .navbar-nav .nav-link.active,
body[data-restaurant="0"] .navbar-nav .nav-link.show {
    color: #fff;
}


#categories li {
    text-transform: capitalize;
}

.map {
    border: 0px;
    width: 100%;
    min-height: 315px;
}

.col-md-12 iframe.mediaComponent {
    width: 100%;
    min-height: 600px;
}

.contactMap {

    min-height: 315px;
    width: 100%;
    height: auto;

}

/*start loader animation*/
.loader {
    margin: auto;
    border: 16px solid #fff;
    border-radius: 50%;
    border-top: 16px solid #333;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*end loader animation*/
.center {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe[src*="youtu.be"],
iframe[src*="youtube"] {
    min-height: 250px;
    width: 100%;
}

/*CAROUSEL STYLES*/


ul.carouselIndexParent {

    list-style-type: none;
    height: 40px;
}

li.sliderIndex {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: .5px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #333;
    border-radius: 10px;
}

li.sliderIndex.active {
    background-color: #333 !important;
    border: 1px solid #f8f8f8 !important;
}

li.sliderIndexCounter {
    display: inline-block;
    width: 30px;

}

ul.inline li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
}

ul.inline {

    margin: auto;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}


/*END CAROUSEL STYLE*/

#mediaYt {
    min-height: 413.75px;
    width: 100%;

}

#activeBlogDescription img {

    width: 100% !important;
    height: auto !important;
    padding-bottom: 2rem;
}


#homeImgTarget {

    min-height: 300px;
    width: 100%;
    color: #ffffff !important;
    background-size: cover;
    background-repeat: no-repeat;

}

#homeImgTarget a,
#homeImgTarget a {
    color: #ffffff !important;
}


.logoImg {

    border-radius: 50px;
    margin-top: 25px;

}

body[data-restaurant="1"] .logoImg {
    box-shadow: 0.0em 0.0em .1em .1em #8f8f8f;
}

[data-section] .logoImg {

    margin-top: -40px;
    margin-bottom: 20px;

}



@media (max-width: 1024px) {
    #mediaYt {
        min-height: 250px;

    }

}

@media (max-width:768px) {

    nav {
        max-height: inherit;
    }

    [data-restaurant] .restaurantNameTarget {
        font-size: 3.3rem !important
    }

    nav .logoImg {
        display: none;
    }

}